body{
    width: 70%;
    margin: 0 auto;
}

div.title{
    color: #009;
    font-size: 60px;
}

div.topic{
    border-bottom: double;
    color: #009;
    font-size: 30px;
}

h2{
    color: #009;
    text-decoration: underline;
}

a:link{ text-decoration: none; }
a:visited{ color: #009 }
a:hover{ text-decoration: underline; }
a:active{}